body
{
    font-size: 25px;
    text-align: center;
    font-family: 'Open Sans', serif;
}

/* Section for user input */
#nav
{
    position: absolute;
    width: 210px;
    height: 100%;
    top: 0px;
    border-right: 3px solid black;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

button
{
    margin: 10px;
}

form
{
    margin: 0px 10px 5px 10px;
    font-size: 15px;
}

/* Canvas */
#environment
{
    position: absolute;
    margin: 0px 15px 20px 0px;
    padding: 0px;
    width: 750px;
    height: 500px;
    border: 3px solid black;
}

/* Container for canvas, header, and info buttons */
#main
{
    position: absolute;
    left: 80px;
    width: 750px;
    margin-left: 180px;
}

/* Don't want arrow option for numeric input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button 
{
    -webkit-appearance: none;
     margin: 0;
}


a:focus 
{
    outline: none;
}

/* Pop up panel */
.infoPanel
{

    width: 300px;
    display: none;
    border: 3px solid black;
    background-color: white;
    border-top-right-radius: 10px;
    font-size: 12px;
    line-height: normal;
    text-align: left;
}

/* Text in pop up panel */
.info
{
    margin: 5px;
}

.slide
{
    margin: 0px;
    padding: 0px;
    background-color: black;
    width: 200px;
    height: 30px;
    position: relative;
    bottom: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn-slide
{
    font-size: 15px;
    text-align: center;
    width: 180px;
    height: 31px;
    padding: 5px 10px 0 0;
    margin: 0 auto;
    display: block;
    color: #fff;
    text-decoration: none;
}

#container
{
    margin: 0 auto;
    padding: 0;
    width: 800px;
    font: 75%/120% Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0px;
    left: 240px;
}

#one
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 200px;
    z-index: 3;
}
#two
{
    position: absolute;
    left: 200px;
    bottom: 0px;
    width: 200px;
    z-index: 2;
}

#three
{
    position: absolute;
    left: 400px;
    bottom: 0px;
    width: 200px;
    z-index: 1;
}

a
{
    color: black;
    text-decoration: none;
}
